


  <div id="profile">

  <nav id="top-nav">
  <ul>
  <li><a href="#"><em>Dashboard<em></em></em></a></li><em><em>
  <li><a href="#">Nutrition Analyzer</a></li>
  <li><a href="#">Your Recipes</a></li>
  <li><a href="#">Inbox</a></li>
  <li><a href="#">Profile</a></li>
  </em></em></ul><em><em>
  </em></em></nav><em><em>

  <section id="side-window">

  <img src="http://theblakeproject.typepad.com/.a/6a00d83451b74a69e20133f4efdae1970b-pi" class="crop">
  <h1><a href="#">Profile Name</a></h1>
  <p><a href="#">Edit Profile</a></p>


  </section>

  <section id="inbox">

  <h1><a href="#">Messages</a></h1>
  <p>No Messages</p>

  </section>


  </em></em></div><em><em>



  </em></em>