<div class="txtalcntr">

  <h1>
                	Create a <i>free</i> Account
  </h1>

  <div class="roundedgecontainerforregister">

    <div class="facebookbutton">
      <a href="/auth/facebook" class="services">
        <%= image_tag "fb-connect-large.png", :alt => "Facebook" %>
      </a>
      <br />
      *We don't post anything without your permission
      <div class="or">or</div>
      
      <br/>
      <a href="/users/sign_up">
      Create an account with your email address
      </a>
       <br/>
      By clicking on "Connect with Facebook" you confirm that you accept the <a href="#">Terms of Service</a>.
      </div>
  </div>
</div>