* {
    border: 0pt none transparent;
    margin: 0pt;
    padding: 0pt;
}

body {
    background: url("../images/bg.png") repeat-x scroll 0pt -41pt transparent;
    font-family: Calibri,arial;
}

td {
    font-family: Arial,Helvetica,sans-serif;
}

th {
    font-family: Arial,Helvetica,sans-serif;
}

.container {
    margin: 0pt auto;
    width: 980px;
}

.header {
    float: left;
    height: 86px;
    margin-bottom: 14px;
    width: 100%;
}

.yellowbutton {
    background: url("../images/yellow_button.png") no-repeat scroll 0pt 0pt
        transparent;
    float: right;
    font-weight: bold;
    height: 33px;
    padding-bottom: 5px;
    position: relative;
    top: 17px;
    width: 140px;
}

.logo {
    float: left;
    width: 146px;
    height: 50px;
}

.homepicholder {
    border-radius: 5px 5px 5px 5px;
    /*     border: 1px solid #D0D0D0;
         float: right;
         padding: 5px;*/
}

.leftside {
    float: left;
    margin-top: 70px;
    width: 430px;
}

.leftside h1 {
    font-size: 52px;
}

.leftside h4 {
    color: #1C96C9;
    float: left;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    width: 273px;
}

.homesearchholder {
    float: left;
    margin-top: 45px;
}

.homesearchholder input[type="text"] {
    background: url("../images/homesearch.png") repeat scroll 0pt 0pt transparent;
    color: #D004D7;
    float: left;
    font-size: 16px;
    height: 33px;
    padding: 4px 10px;
    width: 294px;
}
.homesearchholder_gr {
    float: left;
    margin: 10px;
}

.homesearchholder_gr input[type="text"] {
    background: url("../images/homesearch_gr.png") repeat scroll 0pt 0pt transparent;
    color: #D004D7;
    float: left;
    font-size: 16px;
    height: 33px;
    padding: 4px 10px;
    width: 294px;
}
.landingsearchholder input[type="text"] {
    background: url("../images/homesearch.png") repeat scroll 0pt 0pt transparent;
    color: #D004D7;
    float: left;
    font-size: 16px;
    height: 33px;
    padding: 4px 10px;
    width: 294px;
}
.landingsearchholder input[type="submit"] {
    background: url("../images/homesearch.png") repeat scroll right top transparent;
    float: left;
    height: 41px;
    width: 101px;
}

.landingsearchholder input[type="button"] {
    background: url("../images/homesearch.png") repeat scroll right top transparent;
    float: left;
    height: 41px;
    width: 101px;
}

.controls {
    margin-left: 385px;
    margin-top: -32px;
    position: absolute;
}

.postboxholder {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0pt 2px 5px 0pt #CCCCCC;
    float: left;
    padding: 20px;
    width: 620px;
    margin-left: 130px;
}

.postboxholder p {
    margin-top: 10px;
}

.postboxholder .greybox {
    background-color: #F6F6F6;
    border-radius: 10px 10px 10px 10px;
    float: left;
    margin-top: 20px;
    padding: 20px 50px 50px;
    width: 524px;
}

.upperfileds {
    float: left;
    margin: 10px 0pt;
    width: 100%;
}

.topfieldholder {
    float: left;
    margin: 10px 0pt;
    width: 100%;
}

.topfieldholder label {
    float: left;
    line-height: 18px;
    width: 184px;
}

.topfieldholder input[type="text"] {
    border: 1px solid #ABAEB5;
    height: 17px;
    width: 338px;
}

.ingredientunit {
    float: left;
    margin: 10px 0pt;
    width: 552px;
}

.singleunit {
    float: left;
    width: 113px;
}

.singleunit input[type="text"] {
    border: 1px solid #ABAEB5;
    height: 17px;
    width: 110px;
}

.ingredientunit img {
    float: left;
    margin-top: 19px;
}

.browsfld {
    float: left;
    margin: 10px 0pt;
    width: 100%;
}

.browsfld input[type="text"] {
    border: 1px solid #ABAEB5;
    float: left;
    height: 21px;
    width: 233px;
}

.browsfld input[type="button"] {
    background: url("../images/attach.png") no-repeat scroll 0pt 0pt transparent;
    float: left;
    height: 22px;
    margin-left: 3px;
    margin-top: 1px;
    width: 82px;
}

.directions {
    float: left;
    margin: 10px 0pt;
    width: 100%;
}

.directions textarea {
    border: 1px solid #ABAEB5;
    height: 167px;
    width: 100%;
}

.directions label {
    float: left;
    font-weight: bold;
    width: 100%;
}

.savenc {
    background: url("../images/post_recipe-save.png") no-repeat scroll 0pt 0pt transparent;
    float: right;
    height: 42px;
    margin-top: 20px;
    width: 196px;
}

.savenc_gr {
    background: url("../images/post_recipe-save_gr.png") no-repeat scroll 0pt 0pt transparent;
    float: right;
    height: 42px;
    margin-top: 20px;
    width: 196px;
}

.postboxholder h1, .postboxholder p {
    float: left;
}

.postboxholder .imgholder {
    background: url("../images/post_recipe_img_holder.png") no-repeat scroll 0pt 0pt transparent;
    float: right;
    height: 123px;
    width: 208px;
}

.postboxholder .imgholder img {
    float: left;
    margin-left: 3px;
    margin-top: 2px;
}

.bannerimg {
    margin: 0pt auto;
}

.search_result_container {
    float: left;
    margin-top: 40px;
    width: 100%;
}

.search_result_container .head {
    background: url("../images/headbg.png") no-repeat scroll 0pt 0pt transparent;
    height: 67px;
}

.search_result_container .head .view {
    float: right;
    margin: 14px;
}

.search_result_container .head .homesearchholder {
    float: left;
    margin: 10px;
}

.search_result_container .head .homesearchholder input[type="text"] {
    background: url("../images/greysearch.png") repeat scroll 0pt 0pt transparent;
    height: 39px;
    width: 308px;
}

.search_result_container .head .homesearchholder input[type="submit"] {
    background: url("../images/greysearch.png") repeat scroll right top transparent;
    height: 47px;
    width: 113px;
}
.search_result_container .head .homesearchholder_gr input[type="text"] {
    background: url("../images/greysearch_gr.png") repeat scroll 0pt 0pt transparent;
    height: 39px;
    width: 308px;
}

.search_result_container .head .homesearchholder_gr input[type="submit"] {
    background: url("../images/greysearch_gr.png") repeat scroll right top transparent;
    height: 47px;
    width: 113px;
}

.search_result_container .mid {
    background: url("../images/containerbg.png") repeat scroll right top transparent;
    float: left;
    width: 100%;
}

.search_result_container .foot {
    background: url("../images/footbg.png") repeat scroll right top transparent;
    float: left;
    height: 18px;
    margin-bottom: 40px;
    width: 100%;
}

.resultentry {
    border-bottom: 1px solid #D8D8D8;
    float: left;
    width: 744px;
}

.imgholder {
    background: url("../images/picholder.png") no-repeat scroll right top transparent;
    float: left;
    height: 108px;
    margin-left: 1px;
    margin-right: 10px;
    width: 139px;
}

.imgholder img {
    float: left;
    margin-left: 13px;
    margin-top: 14px;
}

.recipe_detail_holder {
    float: left;
    margin-top: 10px;
    width: 480px;
}

.costholder {
    float: right;
    font-size: 42px;
    font-weight: bold;
    line-height: 42px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    width: 80px;
}

.costholder .currency {
    display: inline;
    font-size: 30px;
}

.costholder .serving {
    color: #1C94C9;
    font-size: 12px;
    line-height: 0px;
}

.main_pagination {
    float: left;
    font-size: 18px;
    padding: 10px;
    width: 724px;
}

.pagination {
    float: right;
    text-align: right;
}

.pagination a, em {
    display: inline;
    float: right;
}

.pagination a, em {
    background: url("../images/pagination.png") repeat-x scroll center bottom transparent;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #E0E0E0;
    color: #0089D1;
    float: left;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    list-style: none outside none;
    margin: 2px;
    padding: 0pt 7px;
}

.pagination a {
    color: #0089D1;
    text-decoration: none;
}

.pagination em {
    background: none repeat scroll 0pt 0pt #CFCFCF;
    border: 1px solid #A8A8A8;
    color: #FFFFFF;
}
.pagination .disabled {
    background: url("../images/pagination.png") repeat-x scroll center bottom transparent;
    background: none repeat scroll 0pt 0pt white;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid
        #E0E0E0;
    color:
        #0089D1;
    float: left;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    list-style: none outside none;
    margin: 2px;
    padding: 0pt 7px;
}


.recipe_detail_holder h3 {
    color: #1C94C9;
}

.resultheading {
    background: url("../images/headingbg.png") repeat-x scroll 0pt 0pt transparent;
    font-size: 18px;
    font-weight: bold;
    height: 42px;
    line-height: 42px;
    margin-left: 1px;
    padding: 0pt 10px;
    width: 723px;
}

.resultheading .lightgreyfont {
    color: #A8A8B2;
}

.shareresults {
    color: #3B93D3;
    float: right;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}

.resultheading select {
    border: 1px solid #999999;
    width: 150px;
}
.recipeErrors {
    color: red;
    font-size: 14px;
    margin-left: 13px;
}
.recipe_container {
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.recipe_container .head {
    background: url("../images/recipe_head.png") no-repeat scroll 0 0 transparent;
    color: #279CDF;
    float: left;
    height: 24px;
    padding: 15px 10px;
    width: 960px;
}
.recipe_container .mid {
    background: url("../images/recipe_mid.png") repeat-y scroll 0 0 transparent;
    float: left;
    height: auto;
    width: 100%;
}
.recipe_container .foot {
    background: url("../images/footbg.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 18px;
    width: 100%;
}
.backarrow {
    float: left;
    margin-right: 3px;
    margin-top: 4px;
}
.leftcontent {
    float: left;
    padding: 20px 52px 52px;
    width: 640px;
}
.mid h1 {
}
.mainimage {
    float: left;
    height: 426px;
    margin: 20px auto;
    width: 640px;
}
.titleimg {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    float: left;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    line-height: 48px;
    margin-top: 376px;
    opacity: 0.8;
    text-align: center;
    width: 100%;
}
.recipe_tabs {
    background: url("../images/ulbg.png") repeat scroll 0 0 transparent;
    float: left;
    height: 52px;
    margin: 20px 0 0;
    width: 640px;
}
.recipe_tabs li {
    background-color: #EEEEEE;
    border: 1px solid #C3C3C3;
    border-radius: 3px 3px 0 0;
    float: left;
    height: 35px;
    line-height: 35px;
    list-style: none outside none;
    margin: 15px 10px 0;
    padding: 0 10px;
}
.recipe_tabs li.selected {
    background-color: #FFFFFF;
    border-color: #C3C3C3 #C3C3C3 #FFFFFF;
}
.tabcontent {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #D0D0D0 #D0D0D0;
    border-radius: 0 0 7px 7px;
    border-right: 1px solid #D0D0D0;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    float: left;
    padding: 20px 20px 40px;
    width: 598px;
}
a{
    color: #1C94C9;
    text-decoration: underline;
}
.textInput span {
    background: url("/images/error.png") no-repeat scroll 0 0 transparent;
    display: block;
    margin: -5px 0 0 -300px;
    opacity: 0;
    position: absolute;
    width: 200px;
}
.textInput span, .textInput label.error {
    height: 54px;
}
.textInput label.error {
    color: #FFFFFF !important;
    display: table-cell;
    font-size: 14px;
    line-height: 18px;
    padding: 0 30px 0 15px;
    text-shadow: 0 -1px 0 #EE9292;
    vertical-align: middle;
    width: 170px;
}
.landingsearchholder_gr input[type="text"] {
    background: url("../images/homesearch_gr.png") repeat scroll 0pt 0pt transparent;
    color: #D004D7;
    float: left;
    font-size: 16px;
    height: 33px;
    padding: 4px 10px;
    width: 294px;
}
.landingsearchholder_gr input[type="submit"] {
    background: url("../images/homesearch_gr.png") repeat scroll right top transparent;
    float: left;
    height: 41px;
    width: 101px;
}

.landingsearchholder_gr input[type="button"] {
    background: url("../images/homesearch_gr.png") repeat scroll right top transparent;
    float: left;
    height: 41px;
    width: 101px;
}

