
<div class="popup">
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <div style="float:left">
  <%= devise_error_messages! %>
</div>
        <div class='heading'>
        
          Reset Password
        </div>
        <div class='whitebg'>
          <p>
            Enter your e-mail address to have the password associated with that account reset.
          </p>
         <%= f.email_field :email, :placeholder => "Email" %>
        </div>
        <div class='foot'>
          <%= f.submit "", :class  => "resetpassword" %>
          <%#*<a href="#" onclick ="$.modal.close();return false;">Cancel</a>%>
        </div>
<% end %>
</div>

<style>
  #error_explanation ul{
   list-style: none;
   margin-left: 5px;
  }
  #error_explanation
  {
    margin-bottom: 10px;
    margin-left: 32px;
  }

</style>